.kj{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.main{
    width: 100%;
    height: 692PX;
    margin: 0px;
    padding: 0px;
    background-image: url('images/59.jpg');
    background-position: center;
}

.top{
    width: 100%;
    height: 25%;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: white;
<<<<<<< HEAD
    opacity: 0.3;
=======
    opacity: 0.7;
    
>>>>>>> 23c4865b819407ddae616402e3eaced0475718e9
}
.center{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.bottom{
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

.name{
    display: inline-block;
    width: 30%;
    height: 20px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 50px;
    text-align: left;
    text-decoration-color: black;
    font-size: 40px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desc{
    display: flex;
    width: 80%;
    height: 20px;
    margin-top: 20px;
    margin-left: 35PX;
    text-align: left;
    text-decoration-color: black;
    font-size: 17px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cen_blok{
    width: 25%;
    height: 90%;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url('images/11.jpg');
    background-position:center;
}

.txtt{
    margin-left:5px;
    margin-right: 5px;
}

.cen_blok1{
    width: 40%;
    height: 100%;
    margin-left: 10px;
    background-color: white;
    background-image: none;
    opacity: 0.3;
    width: 25%;
    height: 90%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
   
}
.bl_t{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.s_1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: black;
    font-weight: 600;
    margin: 5px;
    margin-left: 10px;
    
}
.s_1 :hover {
    .cen_blok1:hover{
        background-image: url('images/G.jpg');
   }
}

@media only screen and (max-width:600px) {
    .center{
        display: block;
    }
    .cen_blok1{
        width: 70%;
        height: 33%;
        margin: auto;
    }
    .cen_blok{
        width:90%;
        height: 33%;
        border-radius: 50%;
        display: block;
    }
    .bl_t{
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;
        color: black;
        font-weight: 600;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .cen_blok{
        margin: auto;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-image: url('images/11.jpg');
        background-position:center;
    }
    .desc{
        display: flex;
        width: 100%;
        height: 10px;
        margin-top: 5px;
        margin-left: 3PX;
        text-align: left;
        text-decoration-color: black;
        font-size: 7px;
        font-weight: 300;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main{
        height: 800px;
    }
}
