.kj{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.main{
    width: 100%;
    height: 692PX;
    margin: 0px;
    padding: 0px;
    background-image: url('images/59.jpg');
    background-position: center;
}

.top{
    width: 100%;
    height: 25%;
    margin: 0px;
    padding: 0px;
    display: block;
}
.center{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.bottom{
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

.name{
    display: inline-block;
    width: 30%;
    height: 20px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 50px;
    text-align: left;
    text-decoration-color: black;
    font-size: 40px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desc{
    display: flex;
    width: 80%;
    height: 20px;
    margin-top: 20px;
    margin-left: 35PX;
    text-align: left;
    text-decoration-color: black;
    font-size: 17px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cen_blok{
    width: 25%;
    height: 90%;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url('images/11.jpg');
    background-position:center;
}

.txtt{
    margin-left:5px;
    margin-right: 5px;
}

.cen_blok1{
    width: 40%;
    margin-left: 10px;
    background-color: black;
    background-image: none;
    opacity: 0.7;
    border-radius: 0px;
}
.s_1:hover{
    .cen_blok1{
        background-image: url('images/G.jpg');
        background-position: center;
    }
}